  html { height: 100% }
  body { height: 100%; margin: 0px auto; padding: 0px; }
  #map_canvas { height: 90%% }
  #header { height: 4%; padding-left: 1em; padding-top: 0.5em; padding-bottom: 3em; 
            font-family: Georgia, serif; font-size: 20pt }
  #title { padding-left: 3em; vertical-align: 1.9em; }
