  html { height: 100% }
  body { height: 100%; margin: 0px auto; padding: 0px; }
  #map_canvas { height: 90%% }
  #header { height: 4%; padding-left: 1em; padding-top: 0.5em; padding-bottom: 3em; 
            font-family: Georgia, serif; font-size: 18pt }
  #title { padding-left: 1em; padding-right: 1em; vertical-align: 1.9em; }
  #joinyahoo { vertical-align: 1em; }
  a.memberLink, a.memberLink:visited { text-decoration: none; color: black; }
  a.memberLink:hover { text-decoration: underline }
